@model Bangazon_Workforce_Management.ViewModels.HomePageViewModel
@{
    ViewData["Title"] = "Home Page";
}


<div class="container-fluid" id="homePageHeader">
    <h2>Recent Employees</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Department
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Employees)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Department.DeptName)
                    </td>
                    <td>
                        <a asp-controller="Employees" asp-action="Edit" asp-route-id="@item.EmployeeID">Edit</a> |
                        <a asp-controller="Employees" asp-action="Details" asp-route-id="@item.EmployeeID">Details</a> |
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <h2>Upcoming Training Programs</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Training Program
                </th>
                <th>
                    Description
                </th>
                <th>
                    Start Date
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Programs)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        <a asp-controller="TrainingPrograms" asp-action="Edit" asp-route-id="@item.TrainingProgramID">Edit</a> |
                        <a asp-controller="TrainingPrograms" asp-action="Details" asp-route-id="@item.TrainingProgramID">Details</a> |
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
