<!--This Razor Template was authored by Jordan Dhaenens-->
@model Bangazon_Workforce_Management.ViewModels.TrainingEmployeeViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TrainingProgram</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Program.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Program.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Program.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Program.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Program.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Program.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Program.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Program.EndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Program.MaxAttendees)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Program.MaxAttendees)
        </dd>
        <dt>
            list of Attendees
        </dt>
        @foreach (var item in Model.TrainingProgramEmployees)
        {
            <dd>
               @item.Employee.FirstName @item.Employee.LastName
            </dd>

        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Program.TrainingProgramID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
